$gngreen: #3a9a05;
$gngrey: #444;
$fore: #e2eced;
$back: #f8f8f8;

%greytext {
    color: $gngrey;
    font-family: Arial, sans-serif;
}

body {
    @extend %greytext
    background-color: $back;
}

#site_head {

    header {
        @extend %greytext;
        background-color: $fore;
    }

    a {
        @extend %greytext;
    }

    h1 {
        display: inline;
        float: left;
    }

    h1::first-letter {
        color: $gngreen;
    }

    img {
        float: left;
        vertical-align: bottom;
        margin-left: 20px;
        width: 50px;
        height: 50px;
    }
}

.breadcrumb {
    display: block;
}