$gngreen: #3a9a05;
$gngrey: #444;
$fore: #e2eced;
$back: #f8f8f8;

body {
    background-color: $back;
    color: $gngrey;
    font-family: Arial, sans-serif;
}

#site_head {

    header {
        background-color: $fore;
    }

    h1 {
        color: $gngrey;
        display: inline;
    }

    h1::first-letter {
        color: $gngreen;
    }

    img {
        float: left;
        vertical-align: bottom;
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }
}