$gngreen: #3a9a05;
$gngrey: #444;
$fore: #e2eced;
$back: #f8f8f8;

%greytext {
    color: $gngrey;
    font-family: Arial, sans-serif;
}

body {
    @extend %greytext;
    background-color: $back;
}

h1, h2 {
    font-family: 'Montserrat', Arial, sans-serif;
}

h2::first-letter {
    color: $gngreen;
}

img.thumb {
    width: 200px;
    height: 112px;
}

.breadcrumb li::after {
    content: " > ";
}

.breadcrumb li.active::after {
    content: "";
}

#site_head {
    @extend %greytext;
    background-color: $fore;
    height: 60px;
}

#site_head {

    a {
        @extend %greytext;
    }

    h1 {
        display: inline;
        float: left;
    }

    h1::first-letter {
        color: $gngreen;
    }

    img {
        float: left;
        vertical-align: bottom;
        margin-left: 20px;
        width: 50px;
        height: 50px;
    }
}